*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #000;
}

.navbar{
    background:transparent;
    position:fixed;
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:100%;
    top:0;
    right:0;
    padding:22px 15%;
    z-index: 1000;
    border-bottom:1px solid transparent;
    transition: all .45s ease;
}
.navbar .logo a{
    font-size:25px;
    font-weight: 600;
}
.navbar .menu li{
    list-style: none;
    display:inline-block;
}
.navbar .menu li a{
    color:#fff;
    font-size:20px;
    font-weight:500;
    margin-left:30px;
}
.navbar .menu li a:hover{
    color:crimson;
}
.navbar .logo a{
    color:#fff;
    font-size: 30px;
}
span{
    color:crimson;
}
#menu-icon{
    color:#fff;
    font-size: 25px;
    z-index: 1001;
    cursor:pointer;
    margin-left:25px;
    display:none;
}
section{
    padding:160px 15% 120px;
}
.home{
    position:relative;
    height:100vh;
    width:100%;
    background-image: url('img/dominik-lange-Lej_oqHljbk-unsplash.jpg');
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.slide{
    margin-bottom:20px;
}
.one{
    display:inline-block;
    margin-right:15px;
    height:32px;
    padding:0 15px;
    line-height: 32px;
    font-size:20px;
    font-weight:500;
    border-radius:5px;
    background:crimson;
    color:#fff;
}
.two{
    display:inline-block;
    color:#fff;
    font-size:20px;
    font-weight:500;
}
.home-text p{
    width:400px;
}
.home-text h1{
    font-size:3rem;
    font-weight:700;
    color:#fff;
    line-height:1.1;
    margin:0 0 8px;
}
.home-text h3{
    color:#fff;
    margin:0 0 35px;
    font-size:2rem;
    font-weight:700;
    line-height:1.1;
}
.home-text p{
    width:400px;
    color:#fff;
    line-height:1.8;
    margin-bottom:40px;
}
.button{
    display:inline-block;
    align-items: center;
    justify-content: center;
}
.btn{
    display:inline-block;
    padding:12px 28px;
    background: crimson;
    border-radius:5px;
    color:#fff;
    font-size:1rem;
    letter-spacing:1px;
    font-weight:600;
    transition: all .45s ease;
}
.btn:hover{
    transform: scale(0.9);
}
.btn2{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    font-size:15px;
    font-weight:600;
    color:#fff;
    margin-left:35px;
}
.btn2 span i{
    height:55px;
    width:55px;
    background: crimson;
    color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:25px;
    border-radius:50%;
    margin-right:15px;
    transition:all .45s ease;
}
.btn2 span i:hover{
    transform: scale(1.1) translateY(5px);
}
nav.navbar{
    background: #000;
    border-bottom:1px solid  #ffffff1a;
    padding:12px 15%;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1.5rem;
    align-items: center;
}
.about-text p{
    color:#fff;
}
.about-text h2{
    color:#fff;
    font-size:2rem;
    line-height:1;
}
.about-text h4{
    font-size:24px;
    font-weight:600;
    color:#fff;
    line-height:1.7;
    margin:10px 0 30px;
}
.about-text p{
    color:#ffffff;
    line-height:1.8;
    margin-bottom:3rem;
}
.btn-icons{
    display:flex;
    align-items: center;
    margin-bottom:1rem;

}
.btn3{
    display:flex;
    align-items: center;
    margin-bottom:1rem;
    background: none;
    outline:none;
    border:none;
    cursor:pointer;
    font-size:3rem;
    font-weight:600;
    letter-spacing:.4px;
    color:crimson;
    margin:7px;
}
.btn3:hover{
    transform: scale(1.1) translateY(5px);
}
.services{
    color:#fff;
    background: #0e0d0d;
}
.main-text{
    text-align: center;
}
.main-text p{
    font-size:15px;
    margin-bottom:15px;
}
.main-text h2{
    font-size:2.1rem;
}
.services-konten{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap:2.5rem;
    margin-top:5rem;
}
.box{
    background: rgb(61, 61, 61);
    padding:35px 45px;
    border-radius:8px;
    transition: all .45s ease;
}
.s-icons i{
    font-size:28px;
    margin-bottom: 20px;
}
.box h3{
    font-size:24px;
    font-weight: 600;
    color:#fff;
}
.box p{
    color:#fff;
    font-size:1rem;
    line-height:1.8;
    margin-bottom:25px;
}
.read{
    display:inline-block;
    padding:8px 18px;
    background:#333333;
    color:#ffff;
    font-size:14px;
    font-weight:500;
    border-radius:8px;
    transition: all .45s ease;
}
.read:hover{
    letter-spacing:1px;
    background:#83837e;
    color:#fff;
}
.box:hover{
    transform: translateY(-8px);
    cursor:pointer;
}

.main-text{
    color:#fff;
}
.main-text p{
    font-size:35px;
}
.layer{
    color:#fff;
}
.Portfolio-content{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap:2.5rem;
    align-items:center;
    margin-top:5rem;
}
.row{
    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}
.row img{
    width:100%;
    border-radius:8px;
    display:block;
    transition: transform 0.5s;
}
.layer{
    width:100%;
    height:0;
    background:linear-gradient(rgba(0,0,0,0.1), #ff004f);
    position:absolute;
    border-radius:8px;
    left:0;
    bottom:0;
    overflow:hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    padding:0 40px;
    transition: height 0.5s;
}
.layer h5{
    font-size:20px;
    font-weight:600;
    margin-bottom:15px;
}
.layer p{
    color:#c2bfbf;
    font-size:1rem;
    font-weight:1.8;
}
.layer i{
    margin-top:20px;
    font-size:20px;
    width:60px;
    height:60px;
    background:#fff;
    color:#ff004f;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius:50%;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height:100%;
}
.contact{
    gap:2.5rem;
    text-align: center;
    color:#ffff;
}
.contact p{
    margin-bottom:20px;
}
.contact-text h2{
    margin-bottom:10px;
    font-size:2rem;
}
.contact-text h4{
    margin-bottom:10px;
}
.contact-icons{
    margin-bottom:30px;
}
.contact-icons i{
    color:#ff004f;
    background: #0e0d0d;
    font-size:45px;
    border-radius:50%;
    transition: all .45s ease;
    margin:8px;
}

.contact-icons i:hover{
    transform: scale(1.1) translateY(5px);
}
.contact-form{
    margin-bottom:50px;
    width:100%;
}
.form{
    text-align: center;
    margin:30px 20px;
    height:90%;
    width:90%;
}
.form form{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin:15px 0;
}
.form form input,
form textarea{
    width:90%;
    background: #0e0d0d;
    color:#fff;
    border-radius:8px;
    font-size: 15px;
    border:none;
    padding:15px;
    margin-bottom:8px;
    resize: none;
}
.form .submit{
    width:40%;
    background: #ff004f;
}
.form .submit:hover{
    transform: scale(1.1) translateX(5px);
    transition: .2s;
}